.menu li{
  font-size: 20px;
  list-style: none;
  opacity: 0.75;
  display: inline;
  padding: 20px;
	line-height: 3;
	font-weight: bold;
}

.menu a:link{
	color: #707070;
	text-decoration: none;
}

.menu a:visited{
	color: #707070;
}

.menu a:hover{
	text-decoration: underline;
}

.name {
  color: #454545;
  font-size: 80px;
  letter-spacing: 5px;
	text-align: center;
	padding-top: 100px;
	height: 50px;
}

.tab li{
  font-size: 23px;
	list-style: none;
	display: inline;
	padding: 20px;
	font-weight: bold;
}

.tab {
	text-align: center;
}

.tab a:link{
	color:white;
	text-decoration: none;
}

.tab a:visited{
	color:white;
	text-decoration: none;
}

.tab a:hover{
	color:white;
	text-decoration: underline;
}


.container {
  background: url("images/vsco5d5ee3afc2030.jpg");
	background-size: cover;
  opacity: 0.80;
  font-family: 'Raleway';
	height: 700px;
}

.icon {
	height: 20px;
	float: right;
	padding: 20px;
}

.icon:hover{
	opacity: 0.75;
}

footer {
  color: white;
  font-size: 15px;
  text-align: right;
  padding-right: 20px;
	background-color: #A5A5A5;
  position: absolute;
	bottom: 0;
  width: 100%;
}
