.menu li{
  color: #707070;
  font-size: 20px;
  list-style: none;
  opacity: 0.75;
  display: inline;
  padding-left: 30px;
  padding-top: 30px;
}

.name {
  color: #454545;
  font-size: 80px;
  text-align: center;
  letter-spacing: 2px;
}

.tab {
  color: #707070;
  font-size: 30px;
  text-align: center;
}

.container {
  background-image: url("woods.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.85;
  font-family: 'Raleway';
}

.foot {
  color: #707070
  font-size: 10px;
  text-align: right;
  padding-right: 20px;
}
