.topmenu li{
  color: #707070;
  font-size: 20px;
  list-style: none;
  text-align: right;
  opacity: 0.75;
  font-family: Raleway;
}

.name {
  color: #454545;
  font-size: 80px;
  text-align: center;
}

.items {
  color: #707070;
  font-size: 30px;
  text-align: center;
}

.container {
  background-image: url("_DSC4825.JPG");
  background-position: center;
  background-size: cover;
  opacity: 0.5;
  font-family: Raleway;
}

.foot {
  color: #707070
  font-size: 10px;
  text-align: right;
}
